<h1>Đăng nhập</h1>
<!-- <div class="input-group mb-3 d-flex"> -->
<form action="/login" method="post">
    <label>Email</label>
    <input type="email" id="email" class="form-control" name="email" placeholder="Nhập email" aria-label="Username"
        aria-describedby="basic-addon1">
    <br>
    <label>Mật khẩu</label>
    <input type="password" id="password" class="form-control" name="password" placeholder="Nhập mật khẩu"
        aria-label="Username" aria-describedby="basic-addon1">
    <br>
    <button type="submit" id="loadImgBtn" class="btn btn-primary">Đăng nhập</button>
</form>